@import "../../styles/variables.module.scss";

// for entire page
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 80px;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

// for landing
.halfContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 4fr;
  gap: 40px;
}

.halfSection {
  display: flex;
  // align-items: center;
}
