@import "../../styles/variables.module.scss";

// for infobox
.infoboxContainer {
  display: grid;
  grid-template-columns: 1fr 5fr 8fr;
  gap: 16px;
  color: $grey-10;

  // switch to vertical alignment
  @media only screen and (max-width: $phone-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .solidBox {
    max-height: 36px;

    // shrink size
    @media only screen and (max-width: $phone-width) {
      max-height: 24px;
    }
  }

  .boxLabel {
    // align the label with the top of the shape on the side
    margin-top: -4px;

    h1 {
      font-size: 20px;
      font-weight: 700;
    }

    h2 {
      font-size: 12px;
      font-weight: 400;
    }

    &__hover {
      @extend .boxLabel;
      color: $primary-color;
    }
  }

  .boxContent {
    display: flex;
    flex-direction: column;

    .bullet {
      display: grid;
      grid-template-columns: 1fr 4fr;
      gap: 16px;

      font-size: 10px;
      margin-bottom: 2px;

      .bulletKey {
        text-transform: uppercase;
        font-weight: 300;
      }

      .bulletValue {
        font-weight: 500;
      }
    }

    &__hover {
      @extend .boxContent;
      color: $primary-color;
    }
  }
}
