@import "../../styles/variables.module.scss";

// for slider nav
.sliderNav {
  display: flex;
  justify-content: center;
  gap: 12px;
  background-color: rgba(108, 108, 108, 0.5);

  padding: 8px;
  border-radius: 5px;

  .slide {
    height: 8px;
    width: 8px;
    background-color: $grey-50;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;

    &__active {
      @extend .slide;
      background-color: $white-color;
    }
  }
}

// for tab
.tab {
  display: grid;
  grid-template-columns: 1fr 9fr;
  gap: 20px;
  height: 60px;
  cursor: pointer;
  transition: all 0.3s;

  img {
    height: 60px;
  }

  .tabText {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 16px;
      font-weight: 600;
    }

    h2 {
      font-size: 12px;
      font-weight: 400;
    }
  }

  .tabImg {
    border-radius: 5px;
    min-width: 100px;
    overflow: hidden;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &:hover {
    opacity: 0.5;
  }
}

// for chips
.chipsContainer {
  .chipsLabel {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
  }

  .chips {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    cursor: default;
    margin-top: 2px;
  }

  .chip {
    background-color: $grey-50;
    font-size: 10px;
    font-weight: 300;
    padding: 8px 12px;
    border-radius: 24px;
    transition: all 0.3s;

    &:hover {
      opacity: 0.75;
    }
  }
}

// for back
.backButton {
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    opacity: 0.75;
  }
  img {
    height: 36px;
    width: 36px;
  }
}
