@import "../../styles/variables.module.scss";

// for slider
.sliderContainer {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px;

  img {
    width: 100%;
    max-height: 320px;
    object-fit: cover;
    object-position: 50% 0%;
    box-shadow: 20px 20px 106px 30px rgba(42, 42, 42, 0.18);
  }
}

// for tabs
.tabsContainer {
  margin: 80px 20px;
}

.tabs {
  display: flex;

  .tab {
    padding: 8px 12px;
    border: 2px solid $dark-color;
    border-bottom: none;
    font-size: 12px;
    margin-left: -1px;
    margin-top: -1px;
    cursor: pointer;

    &__active {
      @extend .tab;
      color: $white-color;
      background-color: $dark-color;
    }
  }
}

.panel {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 32px;
  margin-left: -1px;
  margin-top: -1px;
  gap: 12px;
}

// for about
.aboutContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;

  .aboutText {
    display: flex;
    flex-direction: column;
    gap: 12px;

    p {
      font-size: 14px;
    }
  }
}
