@import "../../styles/variables.module.scss";

p {
  font-size: 12px;
}

// for about
.about {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-end;

  .title {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: -16px;

    h1 {
      font-size: 80px;
    }

    h2 {
      font-size: 64px;
      color: $primary-color;
    }
  }

  .socials {
    display: flex;
    gap: 10px;
    font-weight: 300;
    font-size: 12px;

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

// for projects
.projectsContainer {
  display: flex;
  flex-direction: column;
  gap: 36px;

  justify-content: flex-end;
  height: 100%;

  .title {
    color: $grey-10;
    font-style: italic;
    font-size: 12px;
  }

  .projects {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
